html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.nav-link{
    color:black !important;
}
.navbar{
    background-color: white;
}
.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px 20px;
    margin-top: 50px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  
  .footer h3,
  .footer h4 {
    margin-bottom: 10px;
  }
  
  .footer p,
  .footer a {
    font-size: 14px;
    color: #ccc;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #fff;
  }
  
  .footer-middle ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-middle li {
    margin-bottom: 6px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    border-top: 1px solid #333;
    padding-top: 15px;
  }
  .card:hover{
    transform: translateY(-4px);
    transition: 0.2s ease;
    box-shadow: 0 12px 30px rgba(25, 135, 84, 0.25);
  }

  